.vs/

SocialApp/.vs/

SocialApp/SocialApp/bin/

SocialApp/SocialApp/obj/

SocialApp/SocialApp.Android/bin/

SocialApp/SocialApp.Android/obj/

SocialApp/SocialApp.iOS/bin/

SocialApp/SocialApp.iOS/obj/